html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(assets/BG.jpg);
}

.slider-wrapper {
  margin: 60px auto 20px auto;
  width: 56.2%;
}

.about-me {
    margin: 60px auto;
    width: 56.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me p {
    font-size: 1.4em;
}

.about-me a {
    font-size: 1.4em;
    text-decoration: none;
}

.about-me a:hover {
    color: red;
}

.about-me a img{
    width: 1em;
}

.inputs { 
   display: none;
}

.slider-wrapper label {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  border: 1px solid #330955;
  margin: 0 10px;
}

.slider-wrapper label:hover {
    background:red;
  border:1px solid red;
}

.slider-wrapper label:active {
    background:yellow;
}

.slider-wrapper label::before {
    content: "";
    cursor: pointer;
    padding: 1.5em;
  }

.slides {
  padding: 10px;
  border: 3px solid #330955;
  background: #ceb7e0;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.slides-line {
  width: calc(100% * 5);
  height: 100%;
  display: flex;
  transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-left: 0;
}

.slides-line img {
  width: calc(100% / 5);
  height: 100%;
  object-fit: cover;
  margin: 0px 10px;
}

#slide1:checked ~ .slides .slides-line,
#slide1:checked ~ .text-content .text-for-slides.text-line {
   margin-left: 0;
}

#slide2:checked ~ .slides .slides-line,
#slide2:checked ~ .text-content .text-for-slides .text-line {
   margin-left: -100%;
}

#slide3:checked ~ .slides .slides-line,
#slide3:checked ~ .text-content .text-for-slides .text-line {
   margin-left: -200%;
}

#slide4:checked ~ .slides .slides-line,
#slide4:checked ~ .text-content .text-for-slides .text-line {
   margin-left: -300%;
}

#slide5:checked ~ .slides .slides-line,
#slide5:checked ~ .text-content .text-for-slides .text-line {
   margin-left: -400%;
}

#slide1:checked ~ .text-content .control-bullets label:nth-child(1),
#slide2:checked ~ .text-content .control-bullets label:nth-child(2),
#slide3:checked ~ .text-content .control-bullets label:nth-child(3),
#slide4:checked ~ .text-content .control-bullets label:nth-child(4),
#slide5:checked ~ .text-content .control-bullets label:nth-child(5) {
   background: #2a0ea5;
}

.text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0;
  height: 20%;
}

.text-for-slides {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.text-line {
  width: calc(100% * 5);
  height: 100%;
  display: flex;
  transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  line-height: 0;
  margin-left: 0;
}

.text-line p {
  color:#000000;
  font-size: 1.4rem;
  width: calc(100% / 5);
  line-height: 2em;
}

@media screen and (max-width:1200px){
    .slider-wrapper {
        width: 80%;
    }

    .slides {
        padding: 3px;
        border: 1px solid #330955;
        width: 100%;
      }

      .slides-line img {
        width: calc(100% / 5 - 10px);
        height: 100%;
        margin: 0px 5px;
    }

    .text-line p {
        font-size: 1.2rem;
        line-height: 1.7em;
      }
}

@media screen and (max-width:650px){
    .slider-wrapper {
        width: 90%;
    }

    .slides {
        width: 100%;
        height: 90%;
      }

      .text-content {
          flex-direction: column-reverse;
      }

      .text-for-slides {
          width: 100%;
      }

      .about-me {
        margin: 30px auto;
        width: 60%;
        flex-direction: column;
    }

    .about-me p {
        font-size: 1em;
    }
    
    .about-me a {
        font-size: 1em;
    }
   
}
