*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider-wrapper {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
}